/* src/pages/Dashboard.css */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-header {
    padding: 20px;
    background-color: #3f51b5;
    color: white;
    width: 100%;
    text-align: center;
  }
  
  .dashboard-header h1 {
    font-size: 2rem;
  }
  
  .main {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
  }